# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Leo\OneDrive\UNIESP\P2\LINGUAGEM DE PROGRAMAÇÃO 2\TED05\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
